.container {
	display: flex;
	flex-direction: column;
	background: url('../../assets/backgrounds/london.jpg');
    background-repeat:repeat;
    background-size: cover;
	color: #fff;
    width: 100%;
    height: 100%;
	text-align: center;
	margin: 0 auto;
}

.content{
    backdrop-filter: blur(50px);
    width: 100%;
    height: 100%;
}